<tr>
  <td><%= to_do_master.order_number %></td>
  <td><%= link_to to_do_master.name , edit_to_do_master_path(to_do_master) %></td>
  <td><%= to_do_master.deadline_days %>日後</td>
  <td><%= to_do_master.to_do_type %></td>
  <td></td>
</tr>