<tr>
  <td class='goal_name_component'>
    <p class='goal_name'><%= goal.name %></p>
      <% if goal.to_do_master_names.size > 0 %>
        <ul class="popup">
          タスク一覧
          <% for tdm in goal.to_do_master_names %>
            <li><%= tdm %></li>
          <% end %>
        </ul>
      <% end %>
  </td>
  <td><%= goal.detail %></td>
  <td>
    <%= link_to '追加', register_to_do_group_path(goal.id), class: 'button' %>　
  </td>
</tr>