@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

$gray-medium-light: #eaeaea;
$black: #000000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 25px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: #fff;
  text-decoration: none;
  }
}
  
.username {
  float: left;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: #gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// ToDoの付箋スタイル
.fusen{
    width: 100%; /*幅はお好きなサイズに*/
    height: 100%;
    position: relative;
    z-index:0;
    display:inline-block;
}

.fusen ul {
    list-style: none;
    height: 100%;
}

.fusen ul li {
    // max-height:80px;
    display:inline-block;
    width:100%;
    height: 100%;
    font-size: 0.9em;
    margin: 1.2em 0;
    padding: 0.5em;
    position: relative;
    /* グラデーションで折り目がついた感じに */
    background: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 13%, #ffffcc 16%);
}
.fusen ul li::after{
  /* ドロップシャドウを少し斜めに配置して、立体感を出す */
    content:"";
    display:block;
    position: absolute;
    z-index: -1;
    bottom: 5px;
    right: 0;
    height: 15px;
    width: 99%;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    transform: rotate(2deg);
}

.to_do_detail {
  border-radius: 5px; 
  border:$black solid 1px;
  overflow:auto;
  max-height:80px;
  padding-left: 5px;
  margin-left: 10px;
}

.to_do {
  font-size: 1.4em;
  margin: 3px 0px;
}

// ボタンの枠
.button {
  display: inline-block;
  margin: 0.5em 0.2em;
  padding: .2em 2.5em;
  border: 2px solid #333;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
  color: #333;
  font-family: 'Covered By Your Grace', cursive;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}

.to_do_bg {
  // background-color: Azure;
  border-radius: 10px; 
  border:$black solid 1px;
  overflow:auto;
  max-height:700px;
  height: 100%;
  padding: 5px 10px;
}

// 目標一覧の吹き出し
.goal_name_component{
  position: relative;
}

.popup {
  display: none;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  top: 0px;
  padding: 5px 10px;
  left: 280px;
  background: #FFFFFF;
  z-index:2;
  list-style: none;
  min-width: 100px;
  white-space: nowrap;
  border: 2px solid #333;
}

.popup:hover {
  display: block;
}

.popup:before{
	content: "";
	position: absolute;
	top: 0%;
	left: -25px;
 	margin-top: 0px;
 	z-index:1;
	border: 10px solid transparent;
	border-right: 15px solid #333;
}


.goal_name{
  padding: 5px;
  // position: relative;
  z-index: 0;
}

.goal_name:hover + .popup{
  display: block;
}

// プログレスバーのスタイル
.progress-bar-style{
  background:#D8D8D8;
  border-radius: 10px;
  margin: 0;
}
